<template name="courts">

  <h1>Kings County Tennis League</h1>

  <div class="wrap">
    <p>Season</p>
    <select id="season-select">
      <option disabled="disabled" selected="selected">Season</option>
      {{#each seasons}}
        <option value="{{this}}">{{this}}</option>
      {{/each}}
    </select>

    <p>Program</p>
    <select id="program-select">
      <option disabled="disabled" selected="selected">Program</option>
      {{#each programs}}
        <option value="{{this}}">{{this}}</option>
      {{/each}}
    </select>

    <p>Site</p>
    <select id="site-select">
      <option disabled="disabled" selected="selected">Site</option>
      {{#each sites}}
        <option value="{{this}}">{{this}}</option>
      {{/each}}
    </select>

    <br>
    <br>
    <button class="option-button" id="start-button">Start</button>
    <br>

  </div>
</template>
