<template name="courts">
  <h1>Kings County Tennis League</h1>
  <div class="wrap">
    <div class="court-button-holder">
      <div class="court-button">
        <img src="img/kctl/jr_thumb.png" id="robinson">
      </div>
      <div class="court-button">
        <img src="img/kctl/lg_thumb.png" id="lafayette">
      </div>
      <div class="court-button">
        <img src="img/kctl/marcy_thumb.png" id="marcy">
      </div>
      <div class="court-button">
        <img src="img/kctl/sumner_thumb.png" id="sumner">
      </div>
      <div class="court-button">
        <img src="img/kctl/tompkins_thumb.png" id="tompkins">
      </div>
    </div>
  </div>
</template>
