<template name="attendance">
  <h1>Kings County Tennis League</h1>

  <h2>{{format(season)}}</h2>
  <h2>{{format(program)}}</h2>
  <h2>{{format(site)}}</h2>

  <h3>{{ formattedDate }}</h3>

  <div class="form-style-8">
    <form class="attendance">
      <!-- <p style="font-size:14px">
        You can take attendance as many times as you like. Only the last submission will be saved per day.
      </p> -->

      <p>Students</p>
      {{#if students.count}}
        {{#each students}}
        <div class="container">
          <input type="checkbox" class="student-check" name="student" id="{{ _id }}" checked="{{ attendingStudent(_id) }}">
          <label for="{{ _id }}">
            <span class="checkbox">{{ capitalize(firstName) }} {{ capitalize(lastName) }}</span>
          </label>
        </div>
        <br>
        {{/each}}
      {{else}}
        <p style="font-size:14px">No Students Registered</p>
      {{/if}}

      <br>
      <br>

      <p>Volunteers</p>
      {{#if volunteers.count}}
        {{#each volunteers}}
        <div class="container">
          <input type="checkbox" class="volunteer-check" name="volunteer" id="{{ _id }}" checked="{{ attendingVolunteer(_id) }}">
          <label for="{{ _id }}">
            <span class="checkbox">{{ capitalize(firstName) }} {{ capitalize(lastName) }}</span>
          </label>
        </div>
        <br>
        {{/each}}
      {{else}}
        <p style="font-size:14px">No Volunteers Registered</p>
      {{/if}}

      <br>
      <br>
      <input type="submit"
             name="submit"/>
    </form>

  </div>
</template>
