h1 {
  font-family: "Verdana";
  font-size: 42px;
  line-height: 1.4em;
  text-transform: none;
  text-decoration: none;
  letter-spacing: .015em;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

h2 {
  font-family: "Verdana";
  font-size: 24px;
  line-height: 1.2em;
  text-transform: none;
  text-decoration: none;
  letter-spacing: .010em;
  font-weight: 200;
  font-style: normal;
  text-align: center;
}

.court-button {
  display: inline-block;
  border: none;
  background: none;
  text-align: center;
}

.holder {
  text-align: center;
  margin: auto;
}

.wrap {
  text-align: center;
  margin: auto;
}

.option-button {
  display: block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin: 0 auto;
  white-space: normal;
}

.option-button:hover {
  background-color: #3e8e41
}

.option-button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
